* {
    box-sizing: border-box;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 86px);
    grid-template-rows: repeat(6, 98px);
    font-family: "Courier New", Courier, monospace;
    font-size: 40px;
}

.screen {
    grid-column-start: 1; 
    grid-column-end: 5;
    background-color: black;
    color: white;
    text-align: right;
    padding: 20px 5px;
}

.double {
    grid-column-start: 1; 
    grid-column-end: 3;
}

.triple {
    grid-column-start: 1; 
    grid-column-end: 4;
}

.calc-button {
    cursor: pointer;
    font-size: 40px;
}

.calc-button:hover {
    background-color: #ebebeb;
}
  
.calc-button:active {
    background-color: #bbbcbe;
}

.operators, .equals {
    background-color: #df974c;
    color: white;
}

.operators:hover, .equals:hover {
    background-color: #dfb07e;
}
  
.operators:active, .equals:active {
    background-color: #dd8d37;
}


